PORT=8080

NODE_ENV=development

#Database configs
DB_HOST=db
DB_NAME=post_management
DB_USER=postgres
DB_PASSWORD=postgres

JWT_ACCESS_TOKEN=jwt-access-secret-key
JWT_REFRESH_TOKEN=jwt-refresh-secret-key